
.font-squadaOne{
    font-family: 'Squada One', cursive;
}
// 數字字體
.font-paytoneOne{
    font-family: 'Paytone One', sans-serif;
}

.fs-subTitle{
    font-size: 48px;
    line-height: 70px;
    @include phone{
        font-size: 24px;
        line-height: 35px;
    }
}