.artist__avator{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/artist01.jpg");
    object-fit: cover;
    @include phone{
        height: 213px;
    }
}

.artWork-bg{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: calc( 100% + 2px);
        height: 48px;
        bottom: 0;
        left: -1px;
        background: $light;
        border-top: 1px solid $light;
        border-left: 1px solid $light;
        border-right: 1px solid $light;
        @include pad{
            background: $white;
            border-left: 1px solid $dark;
            border-right: 1px solid $dark;
            border-bottom: 1px solid $dark;
        }
    }
}