.recommend{
  background-image: url('../images/art01.jpg');
  background-repeat: no-repeat;
  height: 500px;
  background-position: center center;
  background-size: cover;
  @include phone{
    height: 238px;
  }
  .recommend__text{
    p{
        &:nth-child(1){
            font-size: 48px;
            line-height: 50px;
            
        }
        &:nth-child(2){
          line-height: 26px;
          
      }
    }
}

}
.recommend__content{
  a{
    position: absolute;
    right: 24px;
    bottom: 24px;
    // @include phone{
    //   position: initial;
    // }
  }
}

.recommend__img{
 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  //因為字太多會推擠先把高度拉高
  height: 400px;
  @include pad{
    height: 372px;
  }
}
.recommend__2{
  background-image: url('../images/art02.jpg');
}
.recommend__3{
  background-image: url('../images/art21.jpg');
}
.recommend__item{
  border-left: 1px solid $dark;
  border-right: 1px solid $dark;
  border-bottom: 1px solid $dark;
  @include phone{
    border-left: 0px solid $dark;
    border-right: 0px solid $dark;
    border-bottom: 2px solid $dark;
    
  }
  .recommend__title{
    font-size: 32px;
    @include phone{
      font-size: 24px;
    }
  }
  a{
    position: absolute;
    bottom: 24px;
    right: 24px;
    @include phone{
      right: 12px;
    }
    
  }
}
.ranking{
  &__no{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'Paytone One', sans-serif;
      background-color: $white;
      border-right: 1px solid $dark;
      border-bottom: 1px solid $dark;
      width: 48px;
      height: 48px;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: stretch;
      z-index: 4;
    }
    &--1{
      &::before{
        content: "1";
      }
    }
    &--2{
      &::before{
        content: "2";
      }
    }
    &--3{
      &::before{
        content: "3";
      }
    }
  }
  

  &__img{
    background-repeat: no-repeat;
    background-position: top ;
    background-size: cover;
   

    &--lg{
      height: 374px;
      position: relative;
      &::before{
        content: "";
        transition: all .5s;
        background-color:transparent;
      }
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-right: 16px solid transparent;
        border-top: 16px solid transparent;
    }
      
      &:hover{
        &::before{
          content: "";
          background-color: black;
          opacity: 0.5;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          
        }
        &::after{
          border-right: 16px solid $black;
          border-top: 16px solid transparent;
          }
        
      }

    }

    &--sm{
      min-width: 87px;
      height: 92px;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        transition:all .5s;
        background-color: transparent;
        color:transparent;
        font-size: 18px;
      }
      &::before{
        position: absolute;
        content: "";
        right:0;
        bottom:0;
        display: none;
        /*  三角形  */
        width: 0;
        height: 0;
        border-right: 16px solid #E6553B;
        border-top: 16px solid transparent;
        z-index: 3;
      
      }
      &:hover{
        &::after{
          content: 'more';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color:$dark;
          opacity: 0.7;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Squada One', cursive;
          font-size: 18px;
          line-height: 1;
        }
        &::before{
          display: block;
        }
      }
    }
    

    &--1{
      background-image: url('../images/art04.jpg');
    }
    &--2{
      background-image: url('../images/art05.jpg');
    }
    &--3{
      background-image: url('../images/art06.jpg');
    }
    &--4{
      background-image: url('../images/art13.jpg');
    }
    &--5{
      background-image: url('../images/art07.jpg');
    }
    &--6{
      background-image: url('../images/art08.jpg');
    }
  }

  
}

.ranking__more{
    position: absolute;
    bottom: 0;
    right: 0;
    color: transparent;
    background-color: transparent;
    transition: all .5s;
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-right: 16px solid transparent;
      border-top: 16px solid transparent;
      transition: all .3s;
     
    }
     &:hover{
      background-color: $primary;
      color: $white;
      &::after{
      border-right: 16px solid $dark;
      border-top: 16px solid transparent;
      }
    }
}


.swiper {
  width: 100%;
  height: 439px;
  
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper{
  align-items: center;
}
.swiper-slide{
  transform: scale(0.74);

}
.swiper-slide-active{
  transform: scale(1);
}


// 頁籤客製化
.swiper-pagination-bullet{
  background: $dark;
  width: 8px;
  height: 8px;
  border-radius: 0;
}
.swiper-pagination-bullet-active{
  background:$primary;
  border-radius: 0;
  width: 16px;
  height: 8px;
}



