<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Paytone+One&family=Squada+One&display=swap" rel="stylesheet">
     <!-- swiper -->
     <link
     rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
        <!-- aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- main css -->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="header fixed-top bg-light">
      <nav class="border-bottom position-relative">
        <div class="container-xxl d-flex justify-content-between">
          <div class="logo">
            <h1 class="py-lg-6 py-4 " >
              <a href="index.html">ART NFT</a>
            </h1>
          </div>
        <ul class="nav__content__pc d-lg-flex d-none ">
          <li class="py-7 px-8 border-start">
            <div class="nav__search">
              <input class="p-0 border-0 bg-light"id="search" type="text" placeholder="搜尋作品名稱、藝術家名稱">
              <label for="search"><i class="fa-solid fa-magnifying-glass fs-3"></i></label>
            </div>
          </li>
          <li class=" border-start"><a class="px-8 py-7 d-block " href="explore.html">探索</a></li>
          <li class=" border-start"><a class="px-8 py-7 d-block"  href="marketValue.html">市值</a></li>
          <li class="border-start"><i class="fa-solid fa-wallet ps-8 py-7 fs-4 "></i></li>
        </ul>
        
     
          <div class="nav__content__mobile d-flex align-items-center gap-5 d-lg-none">
              <i class="fa-solid fa-magnifying-glass fs-5"></i>
              <i id="nav__buger" class=" fa-solid fa-bars"></i>
              <i id="nav__close" class="fa-solid fa-xmark "></i>
              <ul class="nav__content__mobile__menu">
                <li class="text-center container"><a  class="fs-5 fw-bold py-5 border-bottom" href="explore.html">探索</a></li>
                <li class="text-center  "><a class="fs-5 fw-bold py-5 "  href="marketValue.html">市值</a></li>
                <li class="text-center container"><a class="fs-5 bg-primary "  href="#">連結錢包</a></li>
              </ul>
           </div>
         </div>
      </nav>
      
    </header>
   
    <main>
    <%- contents %>
    </main>

    <footer class="footer">
      footer
    </footer>

     <!-- awsomeicon -->
     <script src="https://kit.fontawesome.com/147f962b26.js" crossorigin="anonymous"></script>
    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   
      <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
       <!-- swiper -->
    <script src="./assets/js/vendors.js"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- main js -->
    <script src="./assets/js/all.js"></script>
  </body>

</html>