.form-check{
 
    min-height: 0; 
    padding-left: 0; 
    margin-bottom: 0;
         
}
.form-check-input{
    border:1px solid $dark;
}
.form-check-input[type="checkbox"]{
    border-radius: 0;
    &:checked{
        background-color: $dark;
        border-color: $dark;
    }
}

.form-checkbox[type="checkbox"]{
    border-radius: 0;
}

.form-select{
    width: 90%;
    padding: 8px;
    border-color: $dark;
    border-radius: 0;
}
.input-text-price{
    width: 100%;
    border: 1px solid $dark;
    border-radius: 0;
    padding: 7px 2px;
}
.select-custom{
    background: $white;
    color: $dark;
    width: 128px;
    padding: 8px 24px;
    border-radius: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url("../images/icon-sort-solid.svg");
    background-position: right 1.5rem center;
    background-repeat: no-repeat;
    background-size: 8px 12px;
}