.nav-tabs{
    border-bottom: 1px solid $dark;
    .nav-link{
        color:$secondary;
        border-top-left-radius: 0;
         border-top-right-radius: 0;
        &.active{
            color: $black;
            border-top: 1px solid $dark;
            border-right: 1px solid $dark;
            border-left: 1px solid $dark;
        }
    }
}