
// 首頁輪播
.indexSwiper {
width: 100%;
height: 439px;
position: initial;
@include pad{
  height: auto
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper{
  align-items: center;
}
.swiper-slide{
  transform: scale(0.74);
  transition: transform 0.3s ease-in;
  

}
.swiper-slide-prev{
  height: 263px;
  margin-right: 100px;
  background-color: $dark;
  @include pad{
    margin-right: 0px;
  }
  img{
    mix-blend-mode:luminosity;
  }
}
.swiper-slide-next{
  height: 263px;
  margin-left: 100px;
  background-color: $dark;
  @include pad{
    margin-left: 0;
  }
  img{
    mix-blend-mode:luminosity;
  }
  
}
.swiper-slide-active{
  transform: scale(1.47);
  @include pad{
    transform: scale(1);
  }
  .swiper-slide-content{
 
    position: absolute;
    bottom: 94px;
    left: 24px;
    width: 48%;
  
    @include pad{
      position: initial;
      bottom: 24px;
      width: 100%;
    }
  }
  .swiper-slide-button{
   
    bottom: 94px;
    right: 24px;
    @include pad{
      bottom: 124px;
    }
  }

}
.swiper-slide-duplicate-next{
  margin-right: -100px;
  @include pad{
    margin-right: 0px;
  }
}
.swiper-button{ 
  position: absolute;
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
}
// 頁籤客製化
.swiper-pagination{
  position: initial;
  width: auto;
  display: flex;
}
.swiper-pagination-bullet{
  background: $dark;
  width: 8px;
  height: 8px;
  border-radius: 0;
  opacity:1;
}
.swiper-pagination-bullet-active{
  background:$primary;
  border-radius: 0;
  width: 16px;
  height: 8px;
}

.swiper-slide-next, .swiper-slide-prev{

  
  .swiper-slide-content{
    display: none;
    position: absolute;
    bottom: 94px;
    left: 24px;
    width: 48%;
  
    @include pad{
      position: initial;
      bottom: 24px;
      width: 100%;
    }
  }
  .swiper-slide-button{
    display: none;
    bottom: 94px;
    right: 24px;
    @include pad{
      bottom: 124px;
    }
  }
}
.swiper-slide-name{
  top:72px;
  left: 24px;
  @include pad{
      top: 24px;
  }
  &-sm{
    font-size: 32px;
  }
  &-lg{
    font-size: 64px;
  }
}


}

.artSwiper{
    .swiper-pagination{
        position: initial;
        width: auto;
        display: flex;
      }
      .swiper-pagination-bullet{
        background: $dark;
        width: 8px;
        height: 8px;
        border-radius: 0;
        opacity:1;
      }
      .swiper-pagination-bullet-active{
        background:$primary;
        border-radius: 0;
        width: 16px;
        height: 8px;
      }
      
}


